body {
    background: linear-gradient(to right, rgb(105, 234, 230), rgb(68, 166, 223));
    margin: 0; 
    padding: 0;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.header h1 {
    margin: 0;
    font-size: 1.5em;
}
.ToDoList{
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 100px;
    margin: 30px 400px;
    margin-bottom: 50px;
    color:black
}
#toDo{
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ButtonEnviar{
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ButtonEliminar {
    padding: 8px 12px;
    background-color: #dc3545; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ButtonEliminar:hover {
    background-color: #bd2130; 
}

.ButtonActualizar {
    padding: 8px 12px;
    background-color: #28a745; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ButtonActualizar:hover {
    background-color: #218838; 
}

#toDolist{
    padding-bottom: 250px;
    list-style-type: none;
    margin: 10px;
    padding-left: 0px;
}

.list-item-container{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;  /*-30*/
    padding: 5px;
    border-bottom: 1px solid #ddd; 
    align-items: center;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
  }

  .list-item-container:hover {
    background-color: #f2f2f2;
  }

  .list-item-container button {
    font-size: 12px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}   


@media only screen and (max-width: 600px) {
    .ToDoList {
      margin: 10px;
    }
  
    #toDo {
      width: 230px;
      margin-bottom: 20px;

    }
    .ButtonEnviar{
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 5px;
    }
    .ButtonActualizar{
        padding: 5px 5px;
    }
    .ButtonEliminar {
        padding: 5px 5px;
    }
    .list-item-container{
        max-width: 320px;
        height: 30px;
    }

}